@model PPSI.Nowy_folder.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummonerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummonerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gold)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
