@model IEnumerable<PPSI.Nowy_folder.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChampionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummonerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChampionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummonerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
