@model PPSI3.Models.BootsAtribute

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BootsAtribute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BootsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BootsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagicDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagicDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttackDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttackDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanOneShot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanOneShot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Squishy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Squishy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstHeals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstHeals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstShield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstShield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstPoke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstPoke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstMagicDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstMagicDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstAttackDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstAttackDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstDash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstDash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstOneShot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstOneShot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstTanky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstTanky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstSquishy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstSquishy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoodAgainstLateGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoodAgainstLateGame)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
