@model IEnumerable<PPSI3.Models.BootsAtribute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BootsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shield)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttackDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanOneShot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanky)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Squishy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstHeals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstShield)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstPoke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstMagicDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstAttackDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstDash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstOneShot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstTanky)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstSquishy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGoodAgainstLateGame)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BootsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MagicDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttackDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanOneShot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanky)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Squishy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateGame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstHeals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstShield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstPoke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstMagicDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstAttackDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstDash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstOneShot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstTanky)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstSquishy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoodAgainstLateGame)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
