@model PPSI.Nowy_folder.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BootsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BootsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrinketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrinketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
