@model PPSI3.Models.ChampionsRole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChampionsRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.championId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.championId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jungle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jungle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
