@model IEnumerable<PPSI3.Models.ChampionsRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.championId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Top)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jungle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.championId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jungle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
